server:
  port: 8088
  tomcat:
    uri-encoding: UTF-8
  max-http-header-size: 80KB

spring:
  profiles:
    active: dev
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://database-1.ccfxrdolkiyt.us-east-2.rds.amazonaws.com:3306/fordham?allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=EST


    hikari:
      connection-timeout: 30000
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: true
      idle-timeout: 600000
      pool-name: DataSourceHikariCP
      max-lifetime: 1800000
      connection-test-query: SELECT 1
    username: admin
    password: 11111111
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1


mybatis:
  type-aliases-package: com.fin.model.entity
  mapper-locations: classpath:mapper/*.xml
  config-location: classpath:mybatis-config.xml

mapper:
  mappers: com.fin.model.mapper
  not-empty: false
  identity: MYSQL
